.three-cards {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  justify-content: space-around;
}
.card {
  background-color: #FFF7E5;
  border-radius: 10px 50px;
  display: flex;
  flex-direction: column;
  height: 25em;
  margin: 1em .5em;
  width: 20em;
}

.card-header {
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  margin: .3em 0;
}
.card-desription {
  display: flex;
  font-size:1em;
  padding: 0 .5em;
  height: 9em;
}
.card-link {
  color: #D32F2F;
  align-self: flex-end;
  padding: 1em 1em 0 0;
  text-decoration: none;
}
