.contact-modal {
  overflow-y: hidden;
}
.modal {
  width: 500px;
}
.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #104455;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-title {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 2em;
  color: #FFF;
  text-align: center;
  padding: 10px;
  padding-left: 50px;
}
.close-button {
  height: 30px;
  width: 30px;
  padding-right: 10px;
}
.contact-list {
  background-color: #3AD3CD;
}
.contact-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-link img {
  padding: 0 20px 0 0;
}
a p {
  color: #000;
  font-size: 1.5em;
}

@media (max-width: 600px) {
  .modal {
    width: 300px;
  }
  .contact-title {
    font-size: 1.5em;
    padding-left: 40px;
  }
  a p {
    font-size: 1.25em;
  }
}
