.container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #104455;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto', sans-serif;
}
.logo{
  margin-left: 1em;
}
.header-text {
  color: #FFF;
  font-size: 2em;
  font-weight: 700;
  margin-left: .5em;
}
a{
  text-decoration: none;
}
nav{
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  margin: .5em 0 .5em auto;
  text-align: right;
}
nav a {
  color: #FFF;
  display: block;
  padding: 1em;
  text-decoration: none;
}
nav a:hover {
  color: #000;
  background: #3AD3CD;
}
a:active {
  color: #000;
  background: #3AD3CD;
}

@media (max-width: 600px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    margin-left: 0;
  }
  .nav-links {
    text-align: none;
  }
}
